.welcome {
  text-align: center;
  color: #FF6C54;
}
.welcome-head {
  padding-top: 25px;
}

.welcome-text {
  font-size: 18px;
  padding-bottom: 20px;
}

.welcome-footer {
  font-size: 14px;
  padding: 0 20px;
}